trigger:
  branches:
    include:
      - develop
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: BuildAndDeploy

stages:
  - stage: Build
    jobs:
      - job: Build_Backend
        displayName: 'Build Backend'
        steps:
          - task: GoTool@0
            inputs:
              version: '1.x'

          - script: |
              go version
              go mod download
              export CGO_ENABLED=0
              go build -o $(Build.ArtifactStagingDirectory)/projektps -ldflags "-X main.buildnumber=$(Build.BuildId) -X main.buildgreeter=AzureDevops -X main.buildtrigger=Deploy" cmd/server/*
              go build -o $(Build.ArtifactStagingDirectory)/toolps cmd/toolps.go
              cp -r web $(Build.ArtifactStagingDirectory)/web
            displayName: 'Build Backend'

          - publish: $(Build.ArtifactStagingDirectory)
            artifact: backend

  - stage: Deploy
    variables:
      DEPLOY_BINARY: projektps
      DEPLOY_SSH_PORT: '2244'
      DEPLOY_CHOWN: 'nginx:nginx'
      DEV_DEPLOY_PATH: '/var/dev/www/projektps/'
      PROD_DEPLOY_PATH: '/var/www/prod/projektps/'
      UNIX_SERVICE_NAME: 'projektps'
    jobs:
      - job: Deploy_Test
        condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'develop'))
        displayName: 'Deploy to Test'
        steps:
          - download: current
            artifact: backend
          
          - script: |
              cd $(Pipeline.Workspace)
              echo -e "$(DEV_SSH_PRIVATE_KEY)" > key.pem
              chmod 600 key.pem
              rsync --itemize-changes --compress --verbose --archive --delete-before --update --chown=$(DEPLOY_CHOWN) --chmod=Du=rwx,Dgo=rx,Fu=rw,Fgo=r --rsync-path="sudo rsync" --rsh "ssh -p $(DEPLOY_SSH_PORT) -i key.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" backend/$(DEPLOY_BINARY) backend/toolps backend/web $(DEV_SSH_USERHOST):$(DEV_DEPLOY_PATH)
              ssh -p $(DEPLOY_SSH_PORT) -i key.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $(DEV_SSH_USERHOST) "sudo systemctl restart $(UNIX_SERVICE_NAME)"
            displayName: 'Deploy to Test'

      - job: Deploy_Production
        condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))

        displayName: 'Deploy to Production'
        steps:
          - download: current
            artifact: backend

          - script: |
              cd $(Pipeline.Workspace)
              echo -e "$(PROD_SSH_PRIVATE_KEY)" > key.pem
              chmod 600 key.pem
              rsync --itemize-changes --compress --verbose --archive --delete-before --update --chown=$(DEPLOY_CHOWN) --chmod=Du=rwx,Dgo=rx,Fu=rw,Fgo=r --rsync-path="sudo rsync" --rsh "ssh -p $(DEPLOY_SSH_PORT) -i key.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" backend/$(DEPLOY_BINARY) backend/toolps backend/web $(PROD_SSH_USERHOST):$(PROD_DEPLOY_PATH)
              ssh -p $(DEPLOY_SSH_PORT) -i key.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $(PROD_SSH_USERHOST) "sudo systemctl restart $(UNIX_SERVICE_NAME)"
            displayName: 'Deploy to Production'
