* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-color: rgb(75, 131, 139);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6666vh;
}

.container {
  display: flex;
  align-items: center;
  padding: 2em;
  box-shadow: 0 0.35em 0.7em rgba(0, 0, 0, 0.6);
  border-radius: 1.1em;
  height: 70vh;
  width: 50vh;
  background-color: rgb(255, 255, 255);
  margin: 0.65em;
}

.inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-quote-left,
.fa-quote-right {
  color: rgb(75, 131, 139);
}
.quote {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: bold;
}
hr {
  margin: 0.625em 0;
  width: 100%;
  border: 0.06em solid black;
  background-color: black;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6px;
}
.next {
  font-size: 1.25em;
  border-radius: 0.35em;
  cursor: pointer;
  padding: 0.62em;
  margin-top: 0.6em;
  font-weight: bold;
  color: black;
  background-color: white;
  font-family: "EB Garamond", serif;
}
